@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f4f5f0;
  --foreground: #171717;
  --secondary-blue: #00eeff;
  --primary-blue: #2823c0;
  --white: #f4f5f0;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --border-color: var(--secondary-blue);

  --font-mulish: var(--font-mulish);
  --font-lexend: var(--font-lexend);
}

/* Dark-Light-Sys themes */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #ffffff;
  }
}

html.light {
  --background: #f4f5f0;
  --foreground: #171717;
}

html.dark {
  --background: #232323;
  --foreground: #ffffff;
}

/* Text Styles */
.sub-title {
  font-family: var(--font-lexend);
  @apply font-semibold text-[20px];
}

.detail-text {
  font-family: var(--font-mulish);
  @apply font-normal text-[12px];
}

.blog-font {
  font-family: var(--font-mulish);
  @apply font-normal text-[16px];
}

.blog-title {
  font-family: var(--font-lexend);
  @apply font-semibold text-[32px];
}

.Logo {
  font-family: var(--font-lexend);
  @apply font-semibold text-[28px];
}

.values {
  font-family: var(--font-lexend);
  @apply font-normal text-[64px];
}

.icon-size {
  @apply w-[12px] h-[12px];
}

/* Other styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mulish);
}

.page-layout {
  @apply w-[1035px] mx-auto;
}

.section-title {
  @apply text-(--secondary-blue) text-2xl font-medium;
}

.button {
  @apply bg-(--secondary-blue) text-(--primary-blue) hover:bg-(--primary-blue) hover:text-(--secondary-blue) rounded-[10px] p-2 h-fit cursor-pointer;
}

.buttonInverted {
  @apply bg-(--primary-blue) text-(--secondary-blue) hover:bg-(--secondary-blue) hover:text-(--primary-blue) rounded-[10px] p-2 h-fit cursor-pointer;
}

/* Draftify Styles */
.logo-text {
  @apply bg-gradient-to-br from-blue-800 to-purple-500 bg-clip-text text-transparent;
}

.heading {
  font-family: var(--font-lexend);
  @apply w-full outline-none text-[32px] font-semibold;
}

.subheading {
  font-family: var(--font-lexend);
  @apply w-full outline-none text-[24px] font-medium;
}

.paragraph {
  font-family: var(--font-mulish);
  @apply w-full h-fit outline-none text-[16px] font-normal;
}

.quote {
  @apply w-full border-l-4 outline-none text-[18px] italic pl-2;
}

.list {
  @apply outline-none text-sm;
}

.link {
  @apply text-(--primary-blue) w-full outline-none text-sm;
}

.code {
  @apply font-mono bg-black text-white p-2 w-full whitespace-pre-wrap;
}

.media {
  @apply object-cover w-full h-full;
}

/* Like Bounce */
.like-bounce {
  animation: likeBounce 200ms ease-out;
}

@keyframes likeBounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  100% {
    transform: rotate(-360deg);
  }
}
